<div class="jumbotron move_to_cent">
  <h1>Translate the world, <br/><img src="<%= asset_path( 'logo.png' ) %>" class="img-responsive logo"/>ogether</h1>
</div>

<div class="page-header">
  <h1>Translate the world, <br/><img src="<%= asset_path( 'logo.png' ) %>" class="img-responsive logo"/>ogether</h1>
</div>

<%= form_for @phrase do |f| %>
	<div class="row">
	  <div class="col-lg-12">
	    <div class="input-group">
	      <div class="input-group-btn">     
	        <%= f.collection_select(:posted_lang_id, Language.all, :id, :lang_name, {}, {:class=>'form-control'}) %>
  			</div>
  				<%= f.text_field :content, :class=>"form-control" %>
	  		<div class="input-group-btn">
	        <%= f.collection_select(:trans_lang_id, Language.all, :id, :lang_name, {}, {:class=>'form-control'}) %>
	      </div>
	    </div>
	  </div>
	</div>
	<br />
	<%=  f.submit "Translate", :class => 'btn btn-primary btn-lg move_to_center' %> 
<% end %>




<br/><br/><br/><br/>


<div class="well">



	<% @sort_pt.each do |pt| %>
		
			<div class= "<%= feed_color(pt) %>">
				<div class= "panel-heading">
					<h3 class="panel-title"><%= link_to pt.content, pt_link(pt), :class=>"content-anchor"%> </h3>
					<%= print_respective_to(pt) %>
				</div>
					<span class="by-who">
					by <%= pt.user.username %> <%= 
					created_updated(pt) %> <%= time_calc(pt) 
					%>
					</span>
			</div>
	<% end %>




</div>





 
