<h1 class = "main_phrase_show"><%= @phrase.content %></h1></br>

Please translate to: <strong><%= @phrase.trans_lang.lang_name %></strong></br></br>

<%= render "children", children: @translations %>





 <%= form_for [@phrase, @translation] do |f| %>	  
	 <%= f.text_area :content, placeholder: "Enter translations here", :class => "text_area_style" %></br>
	 <%= f.hidden_field :parent_id, value: params[:parent] %>
	 <%=  f.submit %> 	
<% end %>
