<h1>Edit User</h1>

<div class="container">
    <div class="row">
      <div class="span-8">  		
        <%= form_for @user do |f| %>

        <%= f.label :Username %>
        <%= f.text_field :username %><br /><br />

        <%= f.label :first_name %>
				<%= f.text_field :first_name %><br /><br />


				<%= f.label :last_name %>
				<%= f.text_field :last_name %><br /><br />


				<%= f.label :email %>
				<%= f.text_field :email %><br /><br />

                   
        <%= f.label :password %>
				<%= f.password_field :password %><br /><br />

				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %><br /><br />


        <%= f.label :Languages_I_can_translate_to %>
        <%= f.collection_select(:language_id, Language.all, :id, :lang_name) %><br /><br />

        						
        <%=  f.submit %>           
            
        <% end %>
      </div>
    </div>
  </div>