<div class="container">
    <div class="row">
      <div class="span-8">  		
        <%= form_for @user do |f| %>

        <%= f.label :Username %>
        <%= f.text_field :username %><br />

        <%= f.label :first_name %>
				<%= f.text_field :first_name %><br />

				<%= f.label :last_name %>
				<%= f.text_field :last_name %><br />

				<%= f.label :email %>
				<%= f.text_field :email %><br />

        <%= f.label :Language_you_can_translate_to %>
        <%= f.text_field :last_name %><br />
            
        <%= f.label :password %>
				<%= f.password_field :password %><br />

				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %><br />    
        <%= select_tag "people", options_from_collection_for_select(@people, "id", "name")    %> 
        						
        <%=  f.submit %>           
            
        <% end %>
      </div>
    </div>
  </div>
        