<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Translations.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/phrases/new">Title</a>
    <ul class="nav pull-right">
      <% if current_user %>
          <li class="button"><%= link_to "Logout #{current_user.username}", session_path(current_user), method: :delete %></li>
            <li class="button"><%= link_to "Profile", edit_user_path(current_user) %>
          <% else %>
            <li class="button"><%= link_to "Login", new_session_path %></li>
            <li class="button"><%= link_to "Signup", new_user_path %></li>
          <% end %>
      <!-- <li class="active"><a href="<%= new_session_path %>">Login</a></li>  -->     
    </ul>
  </div>
</div>
 <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
 
<%= yield %>

</body>
</html>

          
