<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Translations.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <!-- <div class="nav-custom"> -->
    <a href="/phrases/new"><img src="<%= asset_path( 'logo.png' ) %>" class="img-responsive logo" alt="Responsive image"/></a>

    <div class="btn-group pull-right nav-btns">
      <% if current_user %>
          <%= link_to "Log Out #{current_user.username}", session_path(current_user), method: :delete, :class=>"btn btn-default" %>
          <%= link_to "Profile", edit_user_path(current_user), :class=>"btn btn-default" %>
        <% else %>
          <button class="btn btn-action"><%= link_to "Login", new_session_path %></button>
          <button class="btn btn-action"><%= link_to "Signup", new_user_path %></button>
      <% end %>
    </div>
    <hr />
  <!-- </div> -->











 <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
 
<%= yield %>
</div>
</body>
</html>

          
